<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{>main}}
    <div class="about-">
        <div class="about-header">Lover Of Wisdom, Coding, Comedy</div>
        <div class="about-headshot"></div>
        <div class="about-des">
            Hey, I'm Eddy Mouity! I am a backend developer based in South Korea.
            I love coding, playing games, and watching movies.
        </div>
        <div class="about-des">A certified computer maintenance and certified backend engineering</div>
        <div class="about-des">I'm currently a project management at Lego Group</div>
        <div class="about-whatido">What i do</div>
        <div class="about-what">Api Designer (NodeJS, .Net core, Laravel)</div>
        <div class="about-what">Devops</div>
        <div class="about-what">Linux</div>
        <div class="about-what">C/C++</div>
        </div>
    </div>
    <div class="about-next">
        <div class="about-ready">Ready to see what's next?</div>
        <a href="/contact" class="about-chat">Let's chat</a>
    </div>
    {{>footer}}
</body>
</html>