{{>main}}
<body>
    <div class="home">
        <div class="decor"></div>
        <div class="home-case">
            <div class="home-box">
                <div class="typewriter">
                    <h1>Hey, I'm Eddy Mouity!</h1>
                </div>
                <div class="typewriter-1">
                    <h1>Backend Engineer</h1>
                    <h1>Full Stack Developer</h1>
                </div>
                <div class="typewriter-2">
                    <h1>Living is South Korea</h1>
                </div>
            </div>
            <a class="home-button" href="/project">Recent Project</a>
            <a class="home-button" href="/contact">Let's keep in touch</a>
        </div>
    </div>
    {{>footer}}
    
</body>
