<!DOCTYPE html>
<html lang="en">
    <div class="project-page">homePage</div>
    <div class="project-page-center">
        <div class="lens">
            <video class="snap_vid" autoplay muted loop src="/videos/snap_vid.mp4"></video>
            <div class="lens-name">Eddy Mouity</div>
        </div>
        <div class="lens">
            <video class="snap_vid" autoplay muted loop src="/videos/snap_vid.mp4"></video>
            <div class="lens-name">Eddy Mouity</div>
        </div>
        <div class="lens">
            <video class="snap_vid" autoplay muted loop src="/videos/snap_vid.mp4"></video>
            <div class="lens-name">Eddy Mouity</div>
        </div>
    </div>
</html>